# 1.function

#### 1) 함수 선언

In [69]:
def hello_world():
    print('Hello, World !')
    
hello_world()

Hello, World !

In [1]:
# Error
def hello_world():

SyntaxError: unexpected EOF while parsing (<ipython-input-1-bc60cb9e254d>, line 3)

In [71]:
def hello_world():
    pass

#### 2) 인수가 여러 개인 함수

In [2]:
def average(x, y, z):
    total = x + y + z
    average = total/3
    return average

avg = average(10, 20, 30)
print(avg)

20.0

#### 3) 반환 값이 여러 개인 경우

In [14]:
def add_sub(x, y):
    return x+y, x-y

a,b=add_sub(10, 20)
print(a, b)

30 -10

In [15]:
x = add_sub(10,20)

# 반환 값이 2개 이상인 경우, Tuple로 반환
print(type(x))
print(x[0], x[1])

<class 'tuple'>
30 -10

#### 4) List unpacking

In [3]:
def add_mul(x, y):
    return x+y, x*y

a,b=add_mul(10, 20)
print(a, b)

30 200

In [4]:
def add_mul(x, y):
    return x+y, x*y

x=[100, 3]
a,b=add_mul(*x)
print(a,b)

103 300

함수 매개변수 개수와 리스트의 개수는 같아야함, 그렇지 않은 경우 Error 발생

In [2]:
def add_mul(x, y):
    return x+y, x*y

a,b=add_mul(*[100, 2, 30])
print(a,b)

TypeError: add_mul() takes 2 positional arguments but 3 were given

#### 5) Default Argument

In [13]:
def total(x, y, z=10):
    return x+y+z

# z값을 넣어준 경우
result = total(10, 20, 30)
print(result)

# z값을 넣어주지 않은 경우, default z=10으로 설정됨
result = total(10, 20)
print(result)

60
40

In [14]:
def person_info(name, age, address='Seoul'):
    print("name    : ", name)
    print("age     : ", age)
    print("address : ", address)

In [15]:
person_info('John', 24)

name    :  John
age     :  24
address :  Seoul

##### Error !!

In [10]:
# default value를 가진 매개변수는 먼저 오는 경우, Error 발생
def total(x=5, y, z):
    return x+y+z

SyntaxError: non-default argument follows default argument (<ipython-input-10-e339f28eb1d3>, line 2)

#### 6) Dictionary unpacking

In [99]:
p={'name':'John', 'age':30}
def person_info(name, age):
    print("name : ", name)
    print("age  : ", age)

person_info(**p)

name :  John
age  :  30

#### 6-1) 정의되지 않은 키워드 처리 시

In [104]:
def person_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ": ", arg)

p={'name':'John', 'age':30}
person_info(**p)

print('-'*20)
p={'name':'Mike'}
person_info(**p)

name :  John
age :  30
--------------------
name :  Mike

# 2. lambda 
익명 함수, lambda expression

#### (lambda 매개변수 1, 매개변수 2: 반환 값) (a1, a2)

In [13]:
def plus_one(x):
    return x+1

In [17]:
plus_one(1)

2

In [21]:
f=lambda x:x+1
f(1)

2

In [23]:
(lambda x:x+1)(1)

2

#### 2. Input List

In [16]:
def plus_one(x):
    return x+1

In [17]:
data=[1, 2, 3, 4, 5]
[plus_one(x) for x in data]

[2, 3, 4, 5, 6]

In [18]:
[(lambda x: x+1)(x) for x in data]

[2, 3, 4, 5, 6]

# 3. Map
List, Str, Tuple 등의 자료형 각 element에 동일한 함수를 적용
##### map(function_to_apply, list_of_inputs)

##### Example 1

In [6]:
data=[1, 2, 3, 4, 5]

In [32]:
def plus_one(x):
    return x+1

list(map(plus_one, data))

[2, 3, 4, 5, 6]

In [34]:
list(map(lambda x:x+1, data))

[2, 3, 4, 5, 6]

In [36]:
# bind = lambda x, f=(lambda x: x): f(x)
(lambda x : lambda y:print("a: {}".format(y)), x)(2)

NameError: name 'x' is not defined

#### Example 2

In [40]:
items = [1, 2, 3, 4, 5]
squared = []

In [41]:
for i in items:
    squared.append(i ** 2)
print(squared)

[1, 4, 9, 16, 25]

In [43]:
squared = list(map(lambda x:x**2, items))
print(squared)

[1, 4, 9, 16, 25]

#### Example 3. 두개 이상의 List에 적용

In [44]:
items = [1, 2, 3, 4, 5]
data  = [2, 2, 2, 3, 3]

list(map(lambda x,y:x+y, items, data))

[3, 4, 5, 7, 8]

#### Example 4. if 조건문 사용

In [19]:
items = [1, 2, 3, 4, 5]

def f(x):
    if x%2 == 0:
        return x ** 2
    else:
        return x 

results = []
for x in items:
    results.append(f(x))
    
print(results)

[1, 4, 3, 16, 5]

In [20]:
items = [1, 2, 3, 4, 5]
list(map(lambda x:x**2 if x%2==0 else x, items))

[1, 4, 3, 16, 5]

# 4. Reduce 
List에 똑같은 함수를 적용하여 통합, 즉 하나의 결과를 가짐

In [32]:
def f(x, y):
    return x+y

items = [1, 2, 3, 4, 5]
a = items[0]

for x in items[1:]:
    a = f(a, x)
print(a)

15

In [31]:
from functools import reduce

items=[1, 2, 3, 4, 5]
reduce(lambda x, y: x+y, items)

15

In [5]:
a = [1, 2, 3]
[(lambda x:print(x)]

[1, 2, 3]

[None]

#### [실습] 가장 작은 숫자 출력

In [59]:
data = [8, 2, 6, 20, 3, 1, 15, 29, 17, 12]

In [60]:
def get_minvalue(data_list):
    min_value = data_list[0]
    
    for data in data_list:
        if min_value > data:
            min_value = data
    return min_value

get_minvalue(data)

1

In [61]:
from functools import reduce

reduce(lambda x, y: x if x<y else y, data)

1

# 5. Filter
필요 없는 데이터를 필터링하기 위한 함수

In [51]:
items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x:x<6, items))

[1, 2, 3, 4, 5]