# 1. split
문자열을 특정 단어 기준으로 나눠서 List 형태로 변환

#### 1) '공백' 기준으로 split

In [22]:
words = 'one two three four five'

print(words.split(' '))
print(words.split())

['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five']

In [21]:
print(type(words))
print(type(words.split()))

<class 'str'>
<class 'list'>

#### 2) 'comma' 기준으로 split

In [9]:
words = 'one,two,three,four,five'
print(words.split(','))

['one', 'two', 'three', 'four', 'five']

# 2. Join
String List를 합쳐 하나의 문자열로 변환

#### 1) '공백' 기준으로 join

In [38]:
word_list = ['one', 'two', 'three', 'four', 'five']
print(' '.join(word_list))
print(type(word_list))
print(type(' '.join(word_list)))

one two three four five
<class 'list'>
<class 'str'>

In [39]:
str_data = 'HelloWorld'
print(' '.join(str_data))
print(type(str_data))
print(type(' '.join(str_data)))

H e l l o W o r l d
<class 'str'>
<class 'str'>

#### 2) 'comma' 기준으로 join

In [40]:
word_list = ['one', 'two', 'three', 'four', 'five']
print(','.join(word_list))

one,two,three,four,five
<class 'list'>

# 3. enumerate
 iterator에서 각 List element 및  index 값을 추출

In [62]:
word_list = ['one', 'two', 'three', 'four', 'five']

In [63]:
num = 0
for v in word_list:
    num += 1
    print(num, v)

1 one
2 two
3 three
4 four
5 five

In [64]:
for i, v in enumerate(word_list):
    print(i+1, v)

1 one
2 two
3 three
4 four
5 five

In [65]:
for i, v in enumerate(word_list, 1):
    print(i, v)

1 one
2 two
3 three
4 four
5 five

#### [list]

In [94]:
words = list(enumerate(word_list, 1))
print(words)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

#### [dict]

In [74]:
words = {i:v for i, v in enumerate(word_list, 1)}
print(words)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

# 4. zip
두 개의 list 값을 병렬적으로 추출

In [75]:
num_list=[1, 2, 3, 4, 5]
str_list=['one', 'two', 'three', 'four', 'five']

for n, s in zip(num_list, str_list):
    print(n, s)

1 one
2 two
3 three
4 four
5 five

In [76]:
num_list=[1, 2, 3]
str_list=['one', 'two', 'three', 'four', 'five']

for n, s in zip(num_list, str_list):
    print(n, s)

1 one
2 two
3 three

#### [unzipping]

In [8]:
num_list=[1, 2, 3, 4, 5]
str_list=['one', 'two', 'three', 'four', 'five']

zip_list=list(zip(num_list, str_list))
print(zip_list)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [9]:
n,s=zip(*zip_list)
print("num_list : ", n)
print("str_list : ", s)

num_list :  (1, 2, 3, 4, 5)
str_list :  ('one', 'two', 'three', 'four', 'five')

##### 예제
- list_1, list_2, list_3의 각 element의 합으로 이루어진 list_result를 출력하세요

In [2]:
list_1=[1, 2, 3]
list_2=[10, 20, 30]
list_3=[100, 200, 300]

In [6]:
a = []
for i in range(len(list_1)):
    a.append(list_1[i]+list_2[i]+list_3[i])
print(a)

[111, 222, 333]

In [4]:
list_result = [ sum(a) for a in zip(list_1, list_2, list_3) ]
list_result

[111, 222, 333]

In [9]:
list_1 = [[1, 2, 3], [2, 3, 4]]
list_2 = [[1, 2, 3], [2, 3, 4]]

temp = [ i for i in zip(list_1, list_2) ]
print(temp)

[([1, 2, 3], [1, 2, 3]), ([2, 3, 4], [2, 3, 4])]