In [2]:
# 정수
a = 1

# 실수
b = 1.0

# 문자열
c = 'hello world'

# 1. Python은 모든 자료형이 객체입니다.

In [8]:
a = 1

In [10]:
print(type(a))

<class 'int'>

In [15]:
print(dir(c)[:5])

['__add__', '__class__', '__contains__', '__delattr__', '__dir__']

# 2. 자료형 탐색

### 1. 숫자형

In [24]:
a = 11

In [25]:
int(a / 2)

5

In [26]:
a // 2

5

In [27]:
a % 2

1

In [30]:
float(a)

11.0

### 2. 문자열

### 2-1 operation

In [52]:
a = 'hello world'
a

'hello world'

In [58]:
b = a + a

In [61]:
a * 10

'hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world'

### 2-2 Slicing

In [74]:
a[0]

'h'

In [67]:
a[0:5]

'hello'

In [72]:
a[2] = 'r'

TypeError: 'str' object does not support item assignment

In [73]:
a[:2] + 'r' + a[3:]

'herlo world'

### 2-3 Formating

In [77]:
number = 10
day = 3

In [79]:
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for 3 days.'

In [80]:
"I ate {1} apples. so I was sick for {0} days.".format(number, day)

'I ate 3 apples. so I was sick for 10 days.'

### 문자열 관련 함수

In [81]:
','.join("abcd")

'a,b,c,d'

In [82]:
' '.join("abcd")

'a b c d'

In [85]:
b = "a,b,c,d"

In [86]:
b.split(',')

['a', 'b', 'c', 'd']

In [93]:
"a:b:c:d".replace(':','#')

'a#b#c#d'

- 문자열 형변환

In [108]:
str(1234)

'1234'

In [110]:
a = 'hello world'

In [111]:
a[0]

'h'

In [112]:
a[0:3]

'hel'

In [113]:
a[-2:]

'ld'

### 3. Bool

In [87]:
a = True
b = False

In [90]:
if a:
    print(a)

True

In [91]:
if b:
    print(b)

### 실습 - 문제 10번

In [3]:
b = 'a,b,c,d'
b.split(',')
"a:b:c:d".replace(':','#')

'a#b#c#d'

In [4]:
c = "a:b:c:d"
'#'.join(c.split(':'))

'a#b#c#d'