# 1. tuple

In [1]:
a = (1, 2)

In [4]:
b = 3

In [5]:
b
a

(1, 2)

In [9]:
a[1] = 2

TypeError: 'tuple' object does not support item assignment

In [14]:
c = (3, 4)

In [18]:
c = (3,)

In [19]:
c

(3,)

In [20]:
a[0] = -1

TypeError: 'tuple' object does not support item assignment

# 2. set

In [5]:
a = [1,2,3,2]

In [21]:
a = {1, 2}

In [22]:
a

{1, 2}

In [27]:
c = {1, 3, 4, 1, 2}

In [28]:
c

{1, 2, 3, 4}

In [30]:
d = {5}

In [31]:
c.union(d)

{1, 2, 3, 4, 5}

# 3. LIST

### 슬라이싱

In [32]:
a = [1, 2, 3, 4, 5]

In [33]:
a

[1, 2, 3, 4, 5]

In [35]:
a[0]

1

In [36]:
a[:3]

[1, 2, 3]

In [37]:
a[1:]

[2, 3, 4, 5]

In [39]:
a[-3:]

[3, 4, 5]


### 연산

In [46]:
b = [1,2,3,4]

In [47]:
b

[1, 2, 3, 4]

In [48]:
c = ['a', 'b', 'c']

In [49]:
b + c

[1, 2, 3, 4, 'a', 'b', 'c']

In [50]:
d = [[1,2,3]]

In [53]:
d[0][2]

3

In [54]:
c + d

['a', 'b', 'c', [1, 2, 3]]

In [56]:
e = c * 3

In [58]:
e

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

### 함수

In [59]:
a = ['3', '4', '5', '6']

In [60]:
a.append(5)

In [61]:
a

['3', '4', '5', '6', 5]

In [62]:
a.index('5')

2

In [64]:
b = [1,2,3,4,2]

In [69]:
b.sort()

In [70]:
del b[2]

In [71]:
b

[1, 2, 3, 4]

In [1]:
b = 1

In [16]:
' '.join(['Life','is','too','short'])

'Life is too short'

In [28]:
a = [1,2,3]
b = [3,4]
c = a

In [29]:
c.append(b)

In [30]:
a

[1, 2, 3, [3, 4]]

In [19]:
a.extend(b)

In [20]:
a

[1, 2, 3, 3, 4, [3, 4], 3, 4]

In [25]:
a = [1,2,3,4,5]

In [22]:
a.remove(2)

In [27]:
del a[1]

In [24]:
a.remove(4)

## 4. dict

In [31]:
a = {'a': 1,
     'b': 2}

In [33]:
a['c'] = 3

In [35]:
a['b'] = 4

In [39]:
a.keys()

dict_keys(['a', 'b', 'c'])

In [40]:
a.values()

dict_values([1, 4, 3])

In [41]:
a.items()

dict_items([('a', 1), ('b', 4), ('c', 3)])

In [43]:
for key in a.keys():
    print(key)

a
b
c

In [44]:
for value in a.values():
    print(value)

1
4
3

In [45]:
for key, value in a.items():
    print(key, value)

a 1
b 4
c 3

In [46]:
a.update({'d': 5})

In [49]:
a['d'] = 5

### 참고 1. mutable, immutable
### 참고 2. copy, deepcopy

In [53]:
a = [1,2,3]

In [54]:
a = [[1,2],[3,4]]

In [56]:
b = a.copy()

In [57]:
a[1].append(3)

In [58]:
a

[[1, 2], [3, 4, 3]]

### List 문제 - 2, 4, 6

### 문제 2

In [8]:
a = ['Life', 'is', 'too', 'short'] 
result = " ".join(a)
print(result)

Life is too short

### 문제 4

In [9]:
a = [1, 2, 3]
a.append([4,5])
a

[1, 2, 3, [4, 5]]

### 문제 6

In [10]:
a = [1, 2, 3, 4, 5]
a.remove(2)
a.remove(4)
a

[1, 3, 5]

## dict 문제

### 문제 3

In [11]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)

{'A': 90, 'C': 70}

In [12]:
print(result)

80

### 문제 5

In [13]:
a = {'A':90, 'B':80, 'C':70}

In [14]:
a.values()

dict_values([90, 80, 70])