### ++, -- 은 Python에 없다.

In [1]:
a = 1
b = 2

In [2]:
a += b

In [4]:
a++

SyntaxError: invalid syntax (<ipython-input-4-22e3d6dc1353>, line 1)

### 1. 조건문

### in

In [5]:
a = [1,2,3,4,5]

In [8]:
b = 2

In [17]:
c = 6

In [6]:
1 in a

True

In [7]:
6 in a

False

In [13]:
if b in a:
    print(b)

2

In [19]:
if c not in a:
    print(c)

6

In [14]:
if b in a:
    print(b)
else:
    print(1)

2

In [45]:
c = 10
d = 5

In [16]:
if c > 20:
    print(1)
elif c > 5:
    print(2)
else:
    print(3)

2

In [46]:
if c > 20 and d < 5:
    print(1)
elif c < 10 or d < 5:
    print(2)

### 2. 반복문

- for문, while문이 있다.

### For 문

In [32]:
# list
for i in [1,2,3]:
    print(i)

1
2
3

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
for i in range(2, 5):
    print(i)

2
3
4

In [31]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [33]:
d = {'name': 'jungyoon', 'company': 'lgd'}

In [37]:
for key in d.keys():
    print(key)

name
company

In [38]:
for key in d.values():
    print(key)

jungyoon
lgd

In [36]:
for key, value in d.items():
    print(key + ": " + value)

name: jungyoon
company: lgd

### while

In [42]:
i = 0
count = 5

In [43]:
while True:
    print(i)
    i += 1
    
    if i >= count:
        break

0
1
2
3
4

In [44]:
while True:
    if i < count - 1:
        continue
        
    print(i)
    i += 1

    if i >= count:
        break

5

## 실습

### if 문 - 문제 2번

In [60]:
hong_number = 23
lucky_list = [1, 9, 23, 46]
if hong_number in lucky_list:
    print("야호")

야호

### for 문 - 문제 4번

In [55]:
dic = {}
lst = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [56]:
my_set = set(lst)
for key in my_set:
    dic[key] = 0

In [57]:
for item in lst:
    dic[item] += 1