# 1. 함수

In [18]:
def teach():
    print("I teach python")

In [19]:
teach()

I teach python

- argument

In [20]:
def teach(num):
    print("I teach python to {0} people".format(num))

In [23]:
def teach(num=5):
    print("I teach python to {0} people".format(num))

In [25]:
teach(10)

I teach python to 10 people

In [27]:
def teach(num=5, day=20180920):
    print("I teach python to {0} people on {1}".format(num, day))

In [28]:
teach()

I teach python to 5 people on 20180920

In [29]:
def how_many_apple(people=5):
    return people * 2

In [30]:
apples = how_many_apple()

In [31]:
apples

10

In [32]:
def how_many_apple_and_orange(people=5):
    return people * 2, people * 3

In [33]:
apples, oranges = how_many_apple_and_orange()

In [36]:
apples, oranges

(10, 15)

In [37]:
num = how_many_apple_and_orange()

In [41]:
num[0], num[1]

(10, 15)

### 함수 - 문제 1, 3

In [42]:
def is_odd(n):
    if n % 2 == 0:
        return 0
    else:
        return 1

In [43]:
def multiply(n):
    for i in range(1, 10):
        print(i * n)

### args - 내가 입력이 몇개 들어올지 모를때

In [53]:
def sum_many(*args):
    print(args)
    for i in args: 
        print(i)

In [55]:
result = sum_many(1,2,3, 4, 5)

(1, 2, 3, 4, 5)
1
2
3
4
5

In [11]:
def sum_mul(choice, *args): 
    if choice == "sum": 
        result = 0 
        for i in args: 
            result = result + i 
    elif choice == "mul": 
        result = 1 
        for i in args: 
            result = result * i 
    return result

In [12]:
result = sum_mul('sum', 1,2,3,4,5)

In [13]:
result

15

### kwargs - 몇 개가 입력이 들어올지 모르겠지만 이름이 있을 때

In [56]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

In [58]:
func(1,2,3,name='타이타닉')

(1, 2, 3)
{'name': '타이타닉'}

### 함수 - 문제 5

In [59]:
def plus_one(x):
    return x + 1

In [61]:
# lambda expression
# lambda arg: return

In [60]:
(lambda x: x+1)(3)

4

In [86]:
def myfunc(numbers):

    result = []
    for number in numbers:
        if number > 5:
            result.append(number)
    return result

In [87]:
myfunc([1,2,3,4,5,6,7,8])

[6, 7, 8]

In [88]:
myfunc = lambda numbers: [x for x in numbers if x > 5]

In [89]:
myfunc([1,2,3,4,5,6,7,8,9])

[6, 7, 8, 9]

In [85]:
(lambda numbers: [x for x in numbers if x > 5])([1,2,3,4,5,6,7,8,9])

[6, 7, 8, 9]

### pass - 아무 것도 하지 않는다.

In [94]:
def add_one(n):
    if n < 3:
        pass
        # pass
        # print(1)

In [95]:
add_one(2)

### overloading

In [98]:
def func(x):
    return x

def func(x,y):
    return x, y